/* Basic Styles for the Form */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
  }
  
  .signup-form {
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .signup-form h2 {
    margin-bottom: 20px;
    color: #3498DB;
  }
  
  .signup-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #subscribeButton {
    width: 100%;
    padding: 10px;
    background-color: #2ECC71;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #subscribeButton:hover {
    background-color: #27ae60;
  }
  
  #error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }
  